.a1{
    background-color: rgb(4, 4, 132);
}
.a2{
    background-color: rgb(12, 110, 3);
}
.a3{
    background-color: rgb(3, 108, 110);
}
.a4{
    background-color: rgb(169, 112, 5);
}
.a5{
    background-color: rgb(150, 4, 4);
}
.b1{
    margin-left: 1060px;
    margin-top: -20px;
    color: black;
}

